@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
* {
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.donatedproducts {
  margin-top: 5px;
}
h2 {
  color: rgb(4, 101, 130);
}
.profile {
  position: relative;
}
.procontainer {
  position: absolute;
  left: 36%;
  top: 15%;
  border-radius: 5px;
  background-color: rgb(243, 145, 137);
  padding: 20px;
  width: 750px;
  height: 1000px;
  padding-top: 40px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.pro_title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 50px;
  font-weight: bolder;
}
.tableclass {
  top: 50%;
}
#productstable {
  display: inline-block;
  position: absolute;
  top: 10%;
  width: 500px;
}
td {
  font-size: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.collabel {
  float: left;
  width: 15%;
  margin-top: 6px;
  margin-left: 100px;
}

.colvalue {
  float: left;
  width: 30%;
  margin-top: 6px;
  margin-left: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.foralign td {
  text-align: center;
}

.d_btn {
  background-color: rgb(4, 101, 130);
  color: white;
  padding: 20px 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.d_btn:hover {
  background-color: rgb(16, 137, 173);
}
